.container{
    margin-left: 12rem;
    margin-top: 3rem;
    /* border: 1px solid black; */
    margin-right:300px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    color:black;
}